*.obj
*.pdb
*.tlog
*.log
*.iobj
*.recipe
*.vsidx
.vs/Axis2/v17/ipch/af5d37137f60c507.ipch
.vs/Axis2/v17/ipch/992ca3847437f417.ipch
.vs/Axis2/v17/DocumentLayout.json
.vs/Axis2/v17/DocumentLayout.backup.json
.vs/Axis2/v17/Browse.VC.opendb
.vs/Axis2/v17/Browse.VC.db-wal
.vs/Axis2/v17/Browse.VC.db-shm
.vs/Axis2/v17/Browse.VC.db
.vs/Axis2/v17/.suo
Axis2/Debug/Axis2.res
Axis2/Debug/Axis2.pch
Axis2/hlp/Axis2.chm
Axis2/hlp/Axis2.chm
